/*
Colors from:
https://sashat.me/2017/01/11/list-of-20-simple-distinct-colors/
without "Pink", "Beige", "White", three pastel-colors and gray.
repeating colors until least common multiple (15 colors vs 8 shapes, some filled white) is reached (120 unique combinations).
*/

.series0.chart-symbol { -fx-background-color: #e6194b; }
.series1.chart-symbol { -fx-background-color: #3cb44b; }
.series2.chart-symbol { -fx-background-color: #ffe119; }
.series3.chart-symbol { -fx-background-color: #0082c8; }
.series4.chart-symbol { -fx-background-color: #f58231; }
.series5.chart-symbol { -fx-background-color: #911eb4, white; }
.series6.chart-symbol { -fx-background-color: #46f0f0, white; }
.series7.chart-symbol { -fx-background-color: #f032e6, white; }
.series8.chart-symbol { -fx-background-color: #d2f53c; }
.series9.chart-symbol { -fx-background-color: #aa6e28; }
.series10.chart-symbol { -fx-background-color: #008080; }
.series11.chart-symbol { -fx-background-color: #800000; }
.series12.chart-symbol { -fx-background-color: #808000; }
.series13.chart-symbol { -fx-background-color: #000080, white; }
.series14.chart-symbol { -fx-background-color: #000000, white; }
.series15.chart-symbol { -fx-background-color: #e6194b, white; }
.series16.chart-symbol { -fx-background-color: #3cb44b; }
.series17.chart-symbol { -fx-background-color: #ffe119; }
.series18.chart-symbol { -fx-background-color: #0082c8; }
.series19.chart-symbol { -fx-background-color: #f58231; }
.series20.chart-symbol { -fx-background-color: #911eb4; }
.series21.chart-symbol { -fx-background-color: #46f0f0, white; }
.series22.chart-symbol { -fx-background-color: #f032e6, white; }
.series23.chart-symbol { -fx-background-color: #d2f53c, white; }
.series24.chart-symbol { -fx-background-color: #aa6e28; }
.series25.chart-symbol { -fx-background-color: #008080; }
.series26.chart-symbol { -fx-background-color: #800000; }
.series27.chart-symbol { -fx-background-color: #808000; }
.series28.chart-symbol { -fx-background-color: #000080; }
.series29.chart-symbol { -fx-background-color: #000000, white; }
.series30.chart-symbol { -fx-background-color: #e6194b, white; }
.series31.chart-symbol { -fx-background-color: #3cb44b, white; }
.series32.chart-symbol { -fx-background-color: #ffe119; }
.series33.chart-symbol { -fx-background-color: #0082c8; }
.series34.chart-symbol { -fx-background-color: #f58231; }
.series35.chart-symbol { -fx-background-color: #911eb4; }
.series36.chart-symbol { -fx-background-color: #46f0f0; }
.series37.chart-symbol { -fx-background-color: #f032e6, white; }
.series38.chart-symbol { -fx-background-color: #d2f53c, white; }
.series39.chart-symbol { -fx-background-color: #aa6e28, white; }
.series40.chart-symbol { -fx-background-color: #008080; }
.series41.chart-symbol { -fx-background-color: #800000; }
.series42.chart-symbol { -fx-background-color: #808000; }
.series43.chart-symbol { -fx-background-color: #000080; }
.series44.chart-symbol { -fx-background-color: #000000; }
.series45.chart-symbol { -fx-background-color: #e6194b, white; }
.series46.chart-symbol { -fx-background-color: #3cb44b, white; }
.series47.chart-symbol { -fx-background-color: #ffe119, white; }
.series48.chart-symbol { -fx-background-color: #0082c8; }
.series49.chart-symbol { -fx-background-color: #f58231; }
.series50.chart-symbol { -fx-background-color: #911eb4; }
.series51.chart-symbol { -fx-background-color: #46f0f0; }
.series52.chart-symbol { -fx-background-color: #f032e6; }
.series53.chart-symbol { -fx-background-color: #d2f53c, white; }
.series54.chart-symbol { -fx-background-color: #aa6e28, white; }
.series55.chart-symbol { -fx-background-color: #008080, white; }
.series56.chart-symbol { -fx-background-color: #800000; }
.series57.chart-symbol { -fx-background-color: #808000; }
.series58.chart-symbol { -fx-background-color: #000080; }
.series59.chart-symbol { -fx-background-color: #000000; }
.series60.chart-symbol { -fx-background-color: #e6194b; }
.series61.chart-symbol { -fx-background-color: #3cb44b, white; }
.series62.chart-symbol { -fx-background-color: #ffe119, white; }
.series63.chart-symbol { -fx-background-color: #0082c8, white; }
.series64.chart-symbol { -fx-background-color: #f58231; }
.series65.chart-symbol { -fx-background-color: #911eb4; }
.series66.chart-symbol { -fx-background-color: #46f0f0; }
.series67.chart-symbol { -fx-background-color: #f032e6; }
.series68.chart-symbol { -fx-background-color: #d2f53c; }
.series69.chart-symbol { -fx-background-color: #aa6e28, white; }
.series70.chart-symbol { -fx-background-color: #008080, white; }
.series71.chart-symbol { -fx-background-color: #800000, white; }
.series72.chart-symbol { -fx-background-color: #808000; }
.series73.chart-symbol { -fx-background-color: #000080; }
.series74.chart-symbol { -fx-background-color: #000000; }
.series75.chart-symbol { -fx-background-color: #e6194b; }
.series76.chart-symbol { -fx-background-color: #3cb44b; }
.series77.chart-symbol { -fx-background-color: #ffe119, white; }
.series78.chart-symbol { -fx-background-color: #0082c8, white; }
.series79.chart-symbol { -fx-background-color: #f58231, white; }
.series80.chart-symbol { -fx-background-color: #911eb4; }
.series81.chart-symbol { -fx-background-color: #46f0f0; }
.series82.chart-symbol { -fx-background-color: #f032e6; }
.series83.chart-symbol { -fx-background-color: #d2f53c; }
.series84.chart-symbol { -fx-background-color: #aa6e28; }
.series85.chart-symbol { -fx-background-color: #008080, white; }
.series86.chart-symbol { -fx-background-color: #800000, white; }
.series87.chart-symbol { -fx-background-color: #808000, white; }
.series88.chart-symbol { -fx-background-color: #000080; }
.series89.chart-symbol { -fx-background-color: #000000; }
.series90.chart-symbol { -fx-background-color: #e6194b; }
.series91.chart-symbol { -fx-background-color: #3cb44b; }
.series92.chart-symbol { -fx-background-color: #ffe119; }
.series93.chart-symbol { -fx-background-color: #0082c8, white; }
.series94.chart-symbol { -fx-background-color: #f58231, white; }
.series95.chart-symbol { -fx-background-color: #911eb4, white; }
.series96.chart-symbol { -fx-background-color: #46f0f0; }
.series97.chart-symbol { -fx-background-color: #f032e6; }
.series98.chart-symbol { -fx-background-color: #d2f53c; }
.series99.chart-symbol { -fx-background-color: #aa6e28; }
.series100.chart-symbol { -fx-background-color: #008080; }
.series101.chart-symbol { -fx-background-color: #800000, white; }
.series102.chart-symbol { -fx-background-color: #808000, white; }
.series103.chart-symbol { -fx-background-color: #000080, white; }
.series104.chart-symbol { -fx-background-color: #000000; }
.series105.chart-symbol { -fx-background-color: #e6194b; }
.series106.chart-symbol { -fx-background-color: #3cb44b; }
.series107.chart-symbol { -fx-background-color: #ffe119; }
.series108.chart-symbol { -fx-background-color: #0082c8; }
.series109.chart-symbol { -fx-background-color: #f58231, white; }
.series110.chart-symbol { -fx-background-color: #911eb4, white; }
.series111.chart-symbol { -fx-background-color: #46f0f0, white; }
.series112.chart-symbol { -fx-background-color: #f032e6; }
.series113.chart-symbol { -fx-background-color: #d2f53c; }
.series114.chart-symbol { -fx-background-color: #aa6e28; }
.series115.chart-symbol { -fx-background-color: #008080; }
.series116.chart-symbol { -fx-background-color: #800000; }
.series117.chart-symbol { -fx-background-color: #808000, white; }
.series118.chart-symbol { -fx-background-color: #000080, white; }
.series119.chart-symbol { -fx-background-color: #000000, white; }

/* hollow gray circle with gray dot*/
.series-class-not-labeled.chart-symbol {
    -fx-background-color: #909090, white, #909090;
    -fx-shape: none;
    -fx-background-radius: 5px;
    -fx-background-insets: 0, 1.5, 3.5;
    -fx-padding: 5px;
}